* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f0e5e8 0%, #e8d5db 100%);
    overflow: hidden;
}


.inner-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 5;
    background-image: radial-gradient(circle, #ffb8c9 1.5px, transparent 1.5px);
    background-size: 20px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.cover-content.open {
    transform: rotateY(-170deg);
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.flower {
    position: absolute;
    width: 400px;
    height: auto;
    top: 3%;
    left: 1%;
    z-index: 1;
}
.strawberry {
    position: absolute;
    width: 600px;
    height: auto;
    top: 60%;
    left: 50%;
    z-index: 1;
}
.receipt {
    position: absolute;
    width: 400px;
    height: auto;
    top: 25%;
    left: 77%;
    z-index: 1;
}
.doodle {
    position: absolute;
    width: 500px;
    height: auto;
    top: 2%;
    left: 60%;
    z-index: 1;
}
.camera {
    position: absolute;
    width: 500px;
    height: auto;
    top: 15%;
    left: 34%;
    z-index: 1;
}
.pen {
    position: absolute;
    width: 600px;
    height: auto;
    top: 43%;
    left: -2%;
    z-index: 1;
}
.music {
    position: absolute;
    width: 450px;
    height: auto;
    top: 50%;
    left: 53%;
    z-index: 1;
}
.bear {
    position: absolute;
    width: 400px;
    height: auto;
    top: 2%;
    left: 50%;
    z-index: 1;
}
.button1 {
    position: absolute;
    width: 200px;
    height: auto;
    top: 5%;
    left: 85%;
    z-index: 1;
}
.patch {
    position: absolute;
    width: 350px;
    height: auto;
    top: 60%;
    left: 3%;
    z-index: 1;
}
.button2 {
    position: absolute;
    width: 250px;
    height: auto;
    top: 60%;
    left: 0%;
    z-index: 1;
}
.button3 {
    position: absolute;
    width: 200px;
    height: auto;
    top: 35%;
    left: 67%;
    z-index: 1;
}
.button4 {
    position: absolute;
    width: 350px;
    height: auto;
    top: 45%;
    left: 42%;
    z-index: 1;
}
.button5 {
    position: absolute;
    width: 170px;
    height: auto;
    top: 27%;
    left: 18%;
    z-index: 1;
}
.button6 {
    position: absolute;
    width: 600px;
    height: auto;
    top: 60%;
    left: 24%;
    z-index: 1;
}
.tape1 {
    position: absolute;
    width: 250px;
    height: auto;
    top: 3%;
    left: 5%;
    z-index: 1;
}
.post {
    position: absolute;
    width: 700px;
    height: auto;
    top: 35%;
    left: 15%;
    z-index: 1;
}
.camera,
.music {
    transition: transform 0.3s ease;
}

.camera:hover {
    transform: translateY(-15px);
    cursor: pointer;
}


.music:hover {
    transform: translateY(-15px);
    cursor: pointer;
}